footer {
  position: absolute;
  bottom: 5px;
  right: 5px;

  h3 {
    font-size: 0.6rem;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba($color: #fff, $alpha: 0.4);
    text-decoration: underline;

    &:hover{
      cursor: pointer;
    }
  }
}